<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Hello Spring Boot</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
			rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
			rel="stylesheet" />
	</head>
	<body>
		<h1>Welcome to our ultimate weather forecast application</h1>
		<h2>Try going to <a href="/weather">/weather</a> to enjoy the magic.</h2>
	</body>
</html>